<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/dashboard_styles.css}" href="../static/css/dashboard_styles.css"/>

<body>
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <h2 class="mb-5">Welcome to your profile</h2>
      <div class="row">
        <div class="col-xl-8 m-auto order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a th:href="@{/customer/update}" class="btn btn-sm btn-primary">Edit</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Name</label>
                        <input type="text" id="input-last-name" disabled="true" class="form-control form-control-alternative" placeholder="Name" th:value="${user.customerName}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" disabled="true" class="form-control form-control-alternative" placeholder="jesse@example.com" th:value="${user.email}">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-dob">Date of Birth</label>
                        <input type="date" id="input-dob" disabled="true" class="form-control form-control-alternative" placeholder="MM-dd-yyyy" th:value="${#dates.format(user.dob, 'yyyy-MM-dd')}" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" type="tel"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">Cellphone</label>
                        <input id="input-cellphone" disabled="true" class="form-control form-control-alternative" placeholder="Cellphone" th:value="${user.cellphone}" type="text">
                      </div>
                    </div>
                  </div>

                </div>
              </form>
              <table class="pl-lg-4" border="2" style="border-collapse:collapse;border:2px solid #000000;color:#000000;width:100%;" >
                <thead>
                <tr>
                  <th>Reservation ID</th>
                  <th>Table ID</th>
                  <th>Party Size</th>
                  <th>Timeslot</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="res:${reservations}">
                  <td th:text="${res.id}"></td>
                  <td th:text="${res.table_id}"></td>
                  <td th:text="${res.party_size}"></td>
                  <td th:text="${res.timeslot}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="pl-lg-4">
              <a th:href="@{/reservation/new}" class="btn btn-lg btn-primary">Make New Reservation</a>
              <a th:href="@{/reservation/new}" class="btn btn-lg btn-primary">Edit My Reservation</a>
              <p></p>
            </div>


        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
          <p>Restaurant Reservation System</p>
        </div>
      </div>
    </div>
  </footer>
</body>